html {
	--color-default:            #ff5636;
	--color-gray-dark:          #222;
	--color-gray:               #555;
	--color-gray-light:         #ccc;
	--color-brand:              var(--color-default);
	--color-highlight:          var(--color-brand);
	--color-page-background:    #fff;
	--color-text:               var(--color-gray-dark);
	--color-text--inverted:     var(--color-page-background);
	--color-links:              var(--color-highlight);
	--color-btn:                var(--color-links);
	--color-btn-text:           var(--color-text--inverted);
	--base-font-size--xs:       0.875rem;
	--base-font-size:           1rem;
	--base-font-size--xl:       1.125rem;
	--base-line-height:         1.625;
	--base-font-weight:         400;
	--base-font-family:         -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
	--base-spacing-unit: 1rem;
	--base-spacing-unit--xs:    calc(var(--base-spacing-unit) / 4);
	--base-spacing-unit--sm:    calc(var(--base-spacing-unit) / 2);
	--base-spacing-unit--lg:    calc(var(--base-spacing-unit) * 2);
	--base-spacing-unit--xl:    calc(var(--base-spacing-unit) * 4);
	--base-border-radius:       4px;
	--base-border-width:        1px;
	--base-border-color:        var(--color-gray-light);
	--base-border:              var(--base-border-width) solid var(--base-border-color); }

:root {
	--color-gray-dark:         #233D63;
	--color-gray:              #46465D;
	--color-gray-light:        #CFD8DC;
	--color-gray-lighter:      #FAFCFF;
	--color-purple-dark:        #9041FF;
	--color-purple:             #6E46AE;
	--color-purple-light:       #BF6CFF;
	--color-purple-lighter:     rgba(191, 108, 255, 0.075);
	--color-teal-dark:          hsl(166, 72%, 38%);
	--color-teal:               hsl(166, 72%, 48%);
	--color-orange:            #FF5408;
	--color-tint:              var(--color-purple-lighter);
	--color-brand-primary:          var(--color-purple);
	--color-brand-primary-light:    var(--color-purple-light);
	--color-brand-primary-dark:     var(--color-purple-dark);
	--color-brand-secondary:        var(--color-teal);
	--color-brand-secondary-dark:   var(--color-teal-dark);
	--color-brand:             var(--color-brand-primary);
	--color-highlight:         var(--color-brand);
	--color-page-background:   #FFFFFF;
	--color-text:              var(--color-gray-dark);
	--color-text--light:       var(--color-gray-light);
	--color-links:             var(--color-brand-secondary);
	--color-links-hover:       var(--color-brand-secondary-dark);
	--color-btn:               linear-gradient(45deg, var(--color-brand-primary) 0, var(--color-brand-primary-light) 100%);
	--color-btn-hover:         linear-gradient(-135deg, var(--color-brand-primary) 0, var(--color-brand-primary-dark) 100%);
	--color-btn-text:          #FFFFFF;
	--base-font-size:                  1rem;
	--base-line-height:                1.625;
	--base-font-size--xs:              0.875rem;
	--base-font-size--lg:              1.125rem;
	--base-font-size--xl:              1.25rem;
	--base-font-family-1:              -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Helvetica Neue', Arial, sans-serif;
	--base-font-family:                var(--base-font-family-1);
	--base-spacing-unit:   1rem;
	--base-border-radius:  5px;
	--base-border-width:   1px;
	--base-border-color:   #CFD8DC;
	--base-box-shadow:       0 10px 40px 0 rgba(50, 50, 50, 0.25);
	--color-band-highlight-background:     linear-gradient( -165deg, var(--color-purple-light), var(--color-purple));
	--color-band-highlight-text:           var(--color-text--inverted);
	--color-band-tint-background:          var(--color-tint);
	--color-band-dark-text:                var(--color-text--inverted);
	--color-band-dark-background:          var(--color-gray-dark); }

.mce-content-body {
	margin: 0.5rem; }
.mce-content-body p,
.mce-content-body li,
.mce-content-body a {
	font-size: 1rem;
	line-height: 1.625; }
.mce-content-body .btn {
	display: inline-block; }
.mce-content-body .btn a {
	display: inline-block;
	border: 1px solid #777777;
	text-decoration: none;
	border-radius: 3px;
	padding: 0.5rem 0.75rem; }
.mce-content-body .btn--primary a {
	border-radius: var(--base-border-radius);
	background: var(--color-btn);
	color: var(--color-text--inverted); }
.mce-content-body .btn--secondary a {
	border-radius: var(--base-border-radius);
	color: var(--color-text--inverted);
	border: var(--base-border-width) solid var(--color-brand-secondary);
	background: var(--color-brand-secondary); }
.mce-content-body .text--attention {
	font-weight: 600; }
