#intro{
  &.mod_article {
    background-image: url($image-bg-path + "body-bg.jpg");
    background-position: left top;
    background-repeat: repeat;
    color: var(--color-gray-light);
    text-shadow: 0 0 0.3em #000, 0 0 0.3em #000, 0 0 0.3em #000;
    font-weight: 400;
  }
}
.zettel {
  padding: 0.8rem 1rem;
  margin: 2rem;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 0px 10px 13px -7px #000000;
  //@include box-shadow(0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0))
  @include border-radius(5px);

}
