// *
// * Erdmann & Freunde - Nutshell
// * Starterkit
// * erdmann-freunde.de/nutshell/
// *
// * Lizenziert unter MIT OPEN SOURCE 
// *

//
// BASE/LAYOUT
// --------------------------------------------------

// PUT YOUR SASS-VARIABLES HERE

// --------------------------------------------------

@import "../../../../nutshell/scss/base/layout";

// --------------------------------------------------

// PUT YOUR CUSTOM-PROPERTIES HERE

// --------------------------------------------------

// PUT YOUR STYLES HERE
body {
  font-style: normal;
  font-weight: normal;
    font-family: var(--base-font-family);
  color: var(--color-text);
  }
h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  font-family: var(--base-font-family-2);
  font-style: italic;
}
h1 {
  font-size: 1.7rem;
}
h2 {
  font-size: 1.2rem;
}
a{
  color:var(--color-brand)
}
[id="header"],[id="footer"] {
  background-image: url($image-bg-path + "body-bg.jpg");
  background-position: left top;
  background-repeat: repeat;
  color: var(--color-gray-light);
  nav{
    color: var(--color-white);
  }
}
[id="header"]{
  /*.header--invert &{
    color: var(--color-white);
    .logo img{
      width: 120px;
    }
  }*/
  .inside {
    max-width: 72em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--wrapper-padding);
    padding-right: var(--wrapper-padding);
    padding-top: var(--base-spacing-unit);
    padding-bottom: var(--base-spacing-unit);
    display: grid;
    grid-template-columns: auto auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
  }
  min-height: 4em;
  .logo{
    z-index: 99;
  }
  /*nav{
    //font-size: 16px;

    font-weight: 400;
    li{
      padding-left: var(--nav--main__item-padding);
      a, span{
        text-decoration: none;
        color: #fff;
      }
      strong.active, a:hover{
        display: block;
        padding-bottom: 2px;
        border-bottom: 3px solid var(--nav--activ-color);
      }
    }
  }*/
}
.band {
  max-width: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  .band--highlight {
    background-color: #00a82d;
    color: #fff;
  }
  .band--tint {
    background-color: #f2f2f2;
  }
  .band--dark {
    background: #14252f;
    background: radial-gradient(circle at 0% 0%, #14252f 0%, #05090b 100%);
    color: #fff;
  }
}
.mod_article.hero {
  max-width: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #111;
  color: #fff;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  z-index: 0;
}
.text--center {
  text-align: center;
}
[id="main"]{
  @include media-query(screen-lg){
    min-height: 36rem;
  }
}
[id="footer"]{
 /* @include media-query(screen-lg) {
    position: fixed;
    bottom: 0;
    width: 100%;
  }*/
}