
.ce_gallery {

    .cols_2 li{
      grid-column: 1 / -1;
      @include media-query(screen-sm){
        grid-column: span 6 / span 6;
      }
    }
    .cols_3 li{
      grid-column: 1 / -1;
      @include media-query(screen-sm){
        grid-column: span 4 / span 4;
      }
    }

}
.ce_gallery > ul > li + li {
  display:none;
}