// *
// * Erdmann & Freunde
// * OPTIMIST Contao Theme
// * erdmann-freunde.de/produkte/contao-themes/optimist/
// *

//
// COMPONENTS/HERO
// --------------------------------------------------

// CSS-VARIABLES
:root {
  --hero__color-background: #FFFFFF;
  --hero__color-background-lighter: rgba(198, 198, 198, 0.57);
  --hero__color-text:       #FFFFFF;
  --hero__font-family:      var(--base-font-family);
  --hero__font-weight:      700;
}

// --------------------------------------------------

// hero
// [1] every .inside container has position relative by contao default
// [2] calculate height based on padding for mod_article, including fallback
// [3] flexbox fix for IE10 & IE11, see http://caniuse.com/#feat=flexbox

// sass-lint:disable-block force-element-nesting
.mod_article {
  &.hero {
    @include wrapper-max(none);

    position: relative;
    padding: 0;
    z-index: 0;

    > .inside {
      margin-left: auto;
      margin-right: auto;
      position: static; // [1]
      min-height: inherit;

      @supports not(display: grid) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
      }

      .ie & {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
      }
    }
  }

  &.hero--full {
    min-height: 100vh;
    min-height: calc(100vh - 4rem);
    height: inherit;
  }
}
@media screen and (min-height: 800px) {

    min-height: 90vh;
    min-height: calc(90vh - 4rem);



}

.mod_article {
  &.hero--small {
    min-height: 50vh;
  }

  &.hero h1 {
    color: var(--hero__color-text);
  }
}

.hero__text {
  padding: 25vh var(--grid__gutter);
  .ce_text{
    background-color: var(--hero__color-background-lighter);
    h1 {
      text-align: center;
      color: var(--hero__color-text);
    }
  }

}

/*@media screen and (min-width: 34.375em) {
  .hero__text h1 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 48em) {
  .hero__text h1 {
    font-size: 2.375rem;
  }
}

@media screen and (min-width: 58.75em) {
  .hero__text h1 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 72em) {
  .hero__text h1 {
    font-size: 2.375rem;
  }
}*/

//Full Hintergrund
.hero__image .image_container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}