// *
// * Erdmann & Freunde - Nutshell
// * Starterkit
// * erdmann-freunde.de/nutshell/
// *
// * Lizenziert unter MIT OPEN SOURCE 
// *

//
// COMPONENTS/NAVIGATION
// --------------------------------------------------

// PUT YOUR SASS-VARIABLES HERE

// --------------------------------------------------

@import "../../../../nutshell/scss/components/navs";

// --------------------------------------------------

// PUT YOUR CUSTOM-PROPERTIES HERE

// --------------------------------------------------

// PUT YOUR STYLES HERE
// CSS-VARIABLES
:root {
  --color-navigation-main--active:    var(--color-brand);
  --color-base-overlay-background:    rgba(0,0,0,0.7);
  --nav--main__item-padding:          0.5rem;
  --nav--main__item-padding--sm:      0.25rem;
  --nav--main-font-size:              0.875rem;
  --nav--main-font-weight:            600;

  --submenu-background:               var(--color-gray-dark);

  --nav-mobile-color-background:      var(--color-page-background);
  --nav-mobile-color-text:            var(--color-white);

  --menu-icon-width:                  1.25rem;
  --menu-icon-stroke:                 2px;

  --nav--sub__item-padding:           var(--base-spacing-unit--sm);

  --nav--activ-color:                 var(--color-red-darker);
}

// --------------------------------------------------

.nav--right {
  justify-self: end;
}

// Main Navigation

.nav--main {
  li{
    &.submenu {
      overflow: hidden;
      &> {
        a, strong{
          position: relative;
          z-index: 1002;
        }

        &a::after, &strong::after{
          -webkit-transition: opacity 0.2s 0.3s;
          transition: opacity 0.2s 0.3s;
          bottom: calc(-1 * var(--nav--main__item-padding));
          left: 50%;
          border: solid transparent;
          border-top-width: medium;
          border-right-width: medium;
          border-bottom-color: transparent;
          border-bottom-width: medium;
          border-left-width: medium;
          content: ' ';
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-bottom-color: var(--submenu-background);
          border-width: 8px;
          margin-left: -8px;
          opacity: 0;
        }

      }
      &:hover .level_2, &:active .level_2{
        z-index: 1004;
        max-height: 9999px;
        opacity: 1;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        visibility: visible;
      }
    }
  }

  // sass-lint:disable-block force-element-nesting
  a,
  a.trail,
  strong.active,
  strong.trail,
  strong.forward {
    padding: var(--nav--main__item-padding);
    text-decoration: none;
    font-weight: var(--nav--main-font-weight);
    color: var(--color-navigation-main--active);

    @include media-query(screen-menu) {
      padding: var(--nav--main__item-padding);
      margin:  var(--nav--main__item-padding);
    }
  }

  a {
    color: inherit;

    &:hover {
      color: var(--color-navigation-main--active);
    }
  }

  .level_1 {
    > li {
      > a,
      > strong {
        white-space: nowrap;
      }
    }
  }

  .level_2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 1001;
    position: relative;
    min-width: 10rem;
    visibility: hidden;
    font-size: var(--base-font-size);
    @include media-query(screen-md){
      &>{
        &li{
          background: var(--submenu-background);
          &.first{
            padding-top: var(--nav--main__item-padding--sm);
          }
        }
      }
      a {
        color: var(--nav-mobile-color-text);
      }
    }

      @include media-query(screen-md){
        font-size: var(--base-font-size--xs);
        max-height: 0;
        opacity: 0;
        position: absolute;
        margin: 0 var(--nav--main__item-padding);
        -webkit-box-shadow: var(--base-box-shadow);
        box-shadow: var(--base-box-shadow);
        -webkit-transition: opacity 0.2s 0.3s, max-height 0s 0.6s, visibility 0s 0.6s;
        transition: opacity 0.2s 0.3s, max-height 0s 0.6s, visibility 0s 0.6s;
      }
    a,
    a.trail,
    strong.active,
    strong.trail,
    strong.forward {
      display: block;
      margin-top: 0;
      margin-bottom: 0;
    }

    a {
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }
    }
  }

  .level_3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

}

// sass-lint:disable-block no-vendor-prefixes
.nav--mobile {
  @include media-query(screen-menu-max) {
    z-index: -1;
    visibility: hidden;
    font-size: var(--base-font-size--xl);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    border-top: var(--base-border);
    background: var(--nav-mobile-color-background);
    padding: var(--grid__gutter);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-touch-action: touch;
    -ms-overflow-style: none;
    -webkit-transition: opacity 0.3s, visibility 0.3s 0.3s;
    transition: opacity 0.3s, visibility 0.3s 0.3s;

    text-align: center;
    text-shadow: 0.025rem 0.025rem 2rem rgba(0, 0, 0, 0.7);
    .level_1 {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      max-height: 100%;
      padding-top: 6rem;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      -ms-touch-action: touch;
      -ms-overflow-style: none;
      li {
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: opacity 0.3s, -webkit-transform 0.3s;
        -o-transition: transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        transition-delay: 0s, 0s, 0s;
        opacity: 0;
      }
      a,
      strong {

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
      }

      strong {
        color: var(--color-navigation-main--active);
      }
    }

    .level_2 {
      position: relative;

      a,
      strong {

        &::before {
          content: '→';
          margin-right: var(--base-spacing-unit--xs);
        }
      }
    }
  }
}

  .nav--mobile--active {
    @include media-query(screen-menu-max) {
      z-index: 1004;
      visibility: visible;
      opacity: 1;

      -webkit-transition: max-height 0s, background 0.3s;
      -o-transition: max-height 0s, background 0.3s;
      transition: max-height 0s, background 0.3s;

      background: var(--color-base-overlay-background);
      .level_1{
        li {
          -webkit-transform: translateY(-0.8125rem);
          -ms-transform: translateY(-0.8125rem);
          transform: translateY(-0.8125rem);
          opacity: 1;
          &:nth-child(2) {
            -webkit-transition-delay: 0.25s;
            -o-transition-delay: 0.25s;
            transition-delay: 0.25s;
          }
        }
      }
      a{
        color:var(--nav-mobile-color-text);
      }
    }
  }


// button to display mobile navigation
.nav-toggler {
  justify-self: end;
  z-index: 1010;
  pointer-events: auto;
  color: var(--color-links);
  padding-bottom: var(--base-spacing-unit);

  @include media-query(screen-menu) {
    display: none;
  }
}

.nav-toggler__button {
  background: none;
  border: none;
  outline: none;
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  cursor: pointer;
  color: var(--color-white);
  padding: calc(var(--base-spacing-unit--xs)/2) var(--base-spacing-unit--xs);
  line-height: 1.5;


  .menu-icon {
    position: relative;
    width: var(--menu-icon-width);
    height: 1.5rem;
    display: inline-block;
    vertical-align: middle;
  }

  .menu-icon__inner {
    width: 100%;
    background-color: currentcolor;
    position: absolute;
    left: 0;
    top: 40%;
    margin-top: calc(var(--menu-icon-stroke) / -2);
    height: var(--menu-icon-stroke);
    -webkit-transition: -webkit-transform 0.15s ease;
    transition: -webkit-transform 0.15s ease;
    transition: transform 0.15s ease;
    transition: transform 0.15s ease, -webkit-transform 0.15s ease;

    &::after,
    &::before {
      background-color: currentcolor;
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: var(--menu-icon-stroke);
      -webkit-transition: opacity 0.15s, -webkit-transform 0.15s ease;
      transition: opacity 0.15s, -webkit-transform 0.15s ease;
      transition: transform 0.15s ease, opacity 0.15s;
      transition: transform 0.15s ease, opacity 0.15s, -webkit-transform 0.15s ease;
    }

    &::before {
      top: -6px;
    }

    &::after {
      bottom: -6px;
    }

    .html--fixed & {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);

      &::before {
        opacity: 0;
      }

      &::after {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        bottom: 0;
      }
    }
  }

  .menu-label {
    display: inline-block;
    margin-left: var(--base-spacing-unit--xs);
    font-size: var(--base-font-size--xl);
  }
}

.nav--sub {
  margin-bottom: var(--base-spacing-unit--lg);
  font-size: var(--base-font-size--xs);
  position: relative;
  z-index: 1000;

  &::after {
    content: '';
    border-bottom: var(--base-border);
    display: block;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    bottom: 0;
  }

  ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-touch-action: auto;
    touch-action: auto;
    -ms-overflow-style: none;
  }

  li {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    white-space: nowrap;
    position: relative;
    z-index: 1001;
    text-align: center;

    &.active,
    &.trail {
      border-bottom: var(--base-border-width) solid currentcolor;
    }

    &:hover {
      border-bottom: var(--base-border-width) solid var(--color-links-hover);
    }
  }

  a,
  strong.active,
  strong.trail {
    color: inherit;
    padding: var(--nav--sub__item-padding);
  }

  a:hover {
    color: var(--color-links-hover);
  }
}

.nav--meta {
  justify-self: start;
  font-family: var(--nav--main-font);
  font-weight: var(--nav--main-font-weight);
  font-size: var(--base-font-size--xs);

  ul {
    display: grid;
    grid-column-gap: var(--grid__gutter--half);

    @include media-query(screen-md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .level_1 {
    > li {
      > a,
      > strong.active,
      > strong.trail {
        font-weight: 600;
        display: block;
      }
    }
  }

  a,
  strong.active,
  strong.trail {
    padding: 0 var(--base-spacing-unit--sm);
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    padding-left: 0;
  }
}

.nav--meta + .nav--meta {
  justify-self: end;
}