// *
// * Erdmann & Freunde - Nutshell
// * Starterkit
// * erdmann-freunde.de/nutshell/
// *
// * Lizenziert unter MIT OPEN SOURCE 
// *

//
// VARIABLES
// --------------------------------------------------

// PUT YOUR SASS-VARIABLES HERE

// --------------------------------------------------

@import "../../../nutshell/scss/variables";

// --------------------------------------------------
:root{




  --color-gray-dark:          #090727;
  --color-gray:               #46465D;
  --color-gray-light:         #F0F0F0;
  --color-gray-lighter:       #F2F2F2;
  --color-red-darker:        #bc0012;
  --color-red-dark: hsl(354, 99%, 39%);
  --color-red: hsl(353, 100%, 44%);
  --color-red-light: hsl(354, 100%, 47%);
  --color-red-lighter: e2001a;
  --color-orange: #FF5408;
  --color-white:      #ffffff;
  --color-tint: var(--color-gray-light);
  --color-brand-primary: var(--color-red);
  --color-brand-secondary: var(--color-red-darker);
  --color-brand: var(--color-brand-primary);
  --color-highlight: var(--color-brand);
  --color-page-background: #F0F0F0;
  --color-text: var(--color-gray-dark);
  --color-text--light: var(--color-gray);
  --color-links: var(--color-red-dark);
  --color-links-hover: var(--color-red-darker);
  --color-btn: var(--color-brand-primary);
  --color-btn-text: #FFFFFF;

--base-color:         #444;
  --base-font-size: 1rem;
  --base-line-height: 1.625;
  --base-font-size--xs: 0.875rem;
  --base-font-size--lg: 1.125rem;
  --base-font-size--xl: 1.25rem;
  --base-font-family-1: 'Open Sans', sans-serif;
  --base-font-family-2: 'Droid Serif',serif;
  --base-font-family: var(--base-font-family-1);
  --base-spacing-unit: 1rem;
  --base-border-radius: 4px;
  --base-border-width: 1px;
  --base-border-color: #D0D0D0;
  --color-band-highlight-background: var(--color-highlight);
  --color-band-tint-background: var(--color-tint);
  --color-band-dark-text: #FFFFFF;
  --color-band-dark-background: var(--color-blue-darker);
}

// PUT YOUR CUSTOM-PROPERTIES HERE
$image-path:          "/files/theme/src/img/";
$image-bg-path:       "/files/theme/src/img/bg/";
$fa-font-path:        "../webfonts";